@model PLA.Data.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "FRM", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div class="login-box-body">

        <p class="login-box-msg">Forgot Your Password ?</p>

        <div class="form-group">
            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", placeholder = "Email" })

            @Html.ValidationMessageFor(m => m.EmailId)

        </div>
        <div class="row">
            <div class="col-xs-8">
               
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Send Email</button>
            </div>
            <!-- /.col -->
        </div>
        
        
    </div>
}